.#*
*.bak
*.local
*.lock
*.log
*.db
*.gpg
*.kbx
*.status

/emacs/custom.el
/emacs/elfeed.org
/emacs/init-local.el
/fish/completions/
/fish/conf.d/
/fish/functions/
/fish/fish_variables
/fish/local.fish
/gnupg/crls.d/
/gnupg/openpgp-revocs.d/
/gnupg/private-keys-v1.d/
/gnupg/random_seed

/QtProject.conf
/autostart/
/fisher/
/guix/
/htop/
/ibus/
/keepassxc/
/rclone/
/vlc/
